.card {
  border: 2px solid #ec6e4c;
  border-radius: 5px;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.title {
  text-align: center;
  font-size: 40px;
  color: #ec6e4c;
}
body {
  font-family: "Roboto", sans-serif;
}
.weather-box {
  color: #183153;
}
.city {
  padding-top: 50px;
  font-size: 35px;
}
section {
  padding-top: 40px;
}
.icon-main {
  font-size: 70px;
  color: #ec6e4c;
}
.temp-main {
  font-size: 45px;
}
.weather-tile {
  border: 1px solid #ec6e4c;
  border-radius: 10px;
  text-align: center;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
}
.icon-bar {
  font-size: 17px;
  color: #ec6e4c;
}
.days {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #183153;
}
.temp-bar {
  font-size: 22px;
  font-weight: 600;
}
.units {
  position: relative;
  top: -20px;
}
#geolocation-button {
  margin-left: 10px;
}
.temp-whole .active {
  color: #ec6e4c;
  cursor: default;
  text-decoration: none;
}
.weather-min-temp {
  opacity: 0.5;
}
